#switch_box {
    background: @theme_base_color;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 1px @borders, 0px 0px 0px 1px @borders;
    padding: 6px;
}

#switch_box:hover {
    background: @theme_selected_bg_color;
    border-color: @theme_selected_fg_color;
}

.info-line {
    margin-top: 10px;
    font-weight: bold;
}

